<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [43]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Using cached SQLAlchemy-1.3.9-cp311-cp311-linux_x86_64.whl
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.36
    Uninstalling SQLAlchemy-2.0.36:
      Successfully uninstalled SQLAlchemy-2.0.36
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.9 which is incompatible.
jupyterhub 4.1.5 requires SQLAlchemy>=1.4, but you have sqlalchemy 1.3.9 which is incompatible.
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [44]:
!pip install ipython-sql
!pip install ipython-sql prettytable

Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.11/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (8.22.2)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Using cached SQLAlchemy-2.0.36-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.7 kB)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (3.0.42)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5.13.0 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.11/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/conda/lib/python3.11/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.11/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Using cached SQLAlchemy-2.0.36-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.2 MB)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed sqlalchemy-2.0.36
Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.11/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.11/site-packages (3.12.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (8.22.2)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.11/site-packages (from prettytable) (0.2.13)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (3.0.42)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5.13.0 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/conda/lib/python3.11/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.11/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [45]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [46]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [47]:
!pip install -q pandas

In [48]:
%sql sqlite:///my_data1.db

In [49]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [50]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [51]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [97]:
import sqlite3

# Connect to your SQLite database (replace with your actual database file)
conn = sqlite3.connect('my_data1.db')  # Replace with your actual database file
cursor = conn.cursor()

# Execute the query to get unique launch sites
cursor.execute('''
    SELECT DISTINCT "Launch_Site"
    FROM SPACEXTBL
''')

# Fetch and display the results
launch_sites = cursor.fetchall()
print("Unique Launch Sites:")
for site in launch_sites:
    print(site[0])

# Close the connection
conn.close()

Unique Launch Sites:
CCAFS LC-40
VAFB SLC-4E
KSC LC-39A
CCAFS SLC-40


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [95]:
import sqlite3

# Connect to your SQLite database (replace with your actual database file)
conn = sqlite3.connect('my_data1.db')  # Replace with your actual database file
cursor = conn.cursor()

# Execute the query to get 5 records where launch sites begin with 'CCA'
cursor.execute('''
    SELECT *
    FROM SPACEXTBL
    WHERE "Launch_Site" LIKE 'CCA%'
    LIMIT 5
''')

# Fetch and display the results
records = cursor.fetchall()
print("5 Records where Launch Sites begin with 'CCA':")
for record in records:
    print(record)

# Close the connection
conn.close()

5 Records where Launch Sites begin with 'CCA':
('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')
('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')
('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')
('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [98]:
import sqlite3

# Connect to your SQLite database (replace with your actual database file)
conn = sqlite3.connect('my_data1.db')  # Replace with your actual database file
cursor = conn.cursor()

# Execute the query to get the total payload mass for NASA (CRS) missions
cursor.execute('''
    SELECT SUM("PAYLOAD_MASS__KG_") AS "Total_Payload_Mass"
    FROM SPACEXTBL
    WHERE "Mission" = 'NASA (CRS)'
''')

# Fetch and display the result
total_payload_mass = cursor.fetchone()[0]
print(f"Total Payload Mass carried by boosters launched by NASA (CRS): {total_payload_mass} kg")

# Close the connection
conn.close()

Total Payload Mass carried by boosters launched by NASA (CRS): None kg

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [99]:
import sqlite3

# Connect to your SQLite database (replace with your actual database file)
conn = sqlite3.connect('my_data1.db')  # Replace with your actual database file
cursor = conn.cursor()

# Execute the query to get the average payload mass for booster version F9 v1.1
cursor.execute('''
    SELECT AVG("PAYLOAD_MASS__KG_") AS "Average_Payload_Mass"
    FROM SPACEXTBL
    WHERE "Booster_Version" = 'F9 v1.1'
''')

# Fetch and display the result
average_payload_mass = cursor.fetchone()[0]
print(f"Average Payload Mass carried by booster version F9 v1.1: {average_payload_mass} kg")

# Close the connection
conn.close()

Average Payload Mass carried by booster version F9 v1.1: 2928.4 kg

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [56]:
import sqlite3

# Connect to your SQLite database (or replace with your database connection details)
conn = sqlite3.connect('my_data1.db')  # Replace with your database file
cursor = conn.cursor()

# Execute the SQL query
cursor.execute('SELECT MIN("LaunchDate") FROM SPACEXTBL WHERE "Outcome" = "Success" AND "LandingPad" = "Ground Pad"')

# Fetch and display the result
first_successful_landing_date = cursor.fetchone()[0]
print(f'First Successful Landing Date on Ground Pad: {first_successful_landing_date}')

# Close the connection
conn.close()

First Successful Landing Date on Ground Pad: None

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [90]:
import sqlite3

# Connect to your SQLite database (replace with your actual database file)
conn = sqlite3.connect('my_data1.db')  # Replace with your actual database file
cursor = conn.cursor()

# Check the distinct values for LandingOutcome
cursor.execute('SELECT DISTINCT "Landing_Outcome" FROM SPACEXTBL')
landing_outcomes = cursor.fetchall()
print("Distinct Landing Outcomes:", landing_outcomes)

# Check the distinct values for LandingPad
cursor.execute('SELECT DISTINCT "Landing_Pad" FROM SPACEXTBL')
landing_pads = cursor.fetchall()
print("Distinct Landing Pads:", landing_pads)

# Check the range of PayloadMass
cursor.execute('SELECT MIN("PAYLOAD_MASS__KG_"), MAX("PAYLOAD_MASS__KG_") FROM SPACEXTBL')
payload_range = cursor.fetchall()
print(f"Payload Mass Range: {payload_range}")

# Now, let's execute the original query with the updated condition for Landing_Outcome
cursor.execute('''
    SELECT "Booster_Version"
    FROM SPACEXTBL
    WHERE "Landing_Outcome" LIKE "Success (drone ship)"
      AND "PAYLOAD_MASS__KG_" > 4000
      AND "PAYLOAD_MASS__KG_" < 6000
''')

# Fetch and display the results
boosters = cursor.fetchall()
print("Boosters matching the criteria:")
if boosters:
    for booster in boosters:
        print(booster[0])  # Print booster names
else:
    print("No boosters found with the given criteria.")

# Close the connection
conn.close()

Distinct Landing Outcomes: [('Failure (parachute)',), ('No attempt',), ('Uncontrolled (ocean)',), ('Controlled (ocean)',), ('Failure (drone ship)',), ('Precluded (drone ship)',), ('Success (ground pad)',), ('Success (drone ship)',), ('Success',), ('Failure',), ('No attempt ',)]
Distinct Landing Pads: [('Landing_Pad',)]
Payload Mass Range: [(0, 15600)]
Boosters matching the criteria:
F9 FT B1022
F9 FT B1026
F9 FT  B1021.2
F9 FT  B1031.2

### Task 7




##### List the total number of successful and failure mission outcomes

In [91]:
import sqlite3

# Connect to your SQLite database (replace with your actual database file)
conn = sqlite3.connect('my_data1.db')  # Replace with your actual database file
cursor = conn.cursor()

# Execute the query to get the count of successful and failed outcomes
cursor.execute('''
    SELECT "Landing_Outcome", COUNT(*)
    FROM SPACEXTBL
    WHERE "Landing_Outcome" LIKE "Success%" OR "Landing_Outcome" LIKE "Failure%"
    GROUP BY "Landing_Outcome"
''')

# Fetch and display the results
outcomes = cursor.fetchall()
print("Mission Outcomes Count:")
for outcome in outcomes:
    print(f"{outcome[0]}: {outcome[1]}")

# Close the connection
conn.close()

Mission Outcomes Count:
Failure: 3
Failure (drone ship): 5
Failure (parachute): 2
Success: 38
Success (drone ship): 14
Success (ground pad): 9

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [92]:
import sqlite3

# Connect to your SQLite database (replace with your actual database file)
conn = sqlite3.connect('my_data1.db')  # Replace with your actual database file
cursor = conn.cursor()

# Execute the query to get the booster versions that carried the maximum payload mass
cursor.execute('''
    SELECT "Booster_Version"
    FROM SPACEXTBL
    WHERE "PAYLOAD_MASS__KG_" = (
        SELECT MAX("PAYLOAD_MASS__KG_") 
        FROM SPACEXTBL
    )
''')

# Fetch and display the results
boosters = cursor.fetchall()
print("Booster Versions with Maximum Payload Mass:")
for booster in boosters:
    print(booster[0])

# Close the connection
conn.close()

Booster Versions with Maximum Payload Mass:
F9 B5 B1048.4
F9 B5 B1049.4
F9 B5 B1051.3
F9 B5 B1056.4
F9 B5 B1048.5
F9 B5 B1051.4
F9 B5 B1049.5
F9 B5 B1060.2
F9 B5 B1058.3
F9 B5 B1051.6
F9 B5 B1060.3
F9 B5 B1049.7

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [93]:
import sqlite3

# Connect to your SQLite database (replace with your actual database file)
conn = sqlite3.connect('my_data1.db')  # Replace with your actual database file
cursor = conn.cursor()

# Execute the query to get the required records
cursor.execute('''
    SELECT
        CASE 
            WHEN substr("Date", 6, 2) = '01' THEN 'January'
            WHEN substr("Date", 6, 2) = '02' THEN 'February'
            WHEN substr("Date", 6, 2) = '03' THEN 'March'
            WHEN substr("Date", 6, 2) = '04' THEN 'April'
            WHEN substr("Date", 6, 2) = '05' THEN 'May'
            WHEN substr("Date", 6, 2) = '06' THEN 'June'
            WHEN substr("Date", 6, 2) = '07' THEN 'July'
            WHEN substr("Date", 6, 2) = '08' THEN 'August'
            WHEN substr("Date", 6, 2) = '09' THEN 'September'
            WHEN substr("Date", 6, 2) = '10' THEN 'October'
            WHEN substr("Date", 6, 2) = '11' THEN 'November'
            WHEN substr("Date", 6, 2) = '12' THEN 'December'
        END AS "Month",
        "Landing_Outcome",
        "Booster_Version",
        "Launch_Site"
    FROM SPACEXTBL
    WHERE substr("Date", 0, 5) = '2015'
        AND "Landing_Outcome" LIKE 'Failure (drone ship)'
''')

# Fetch and display the results
records = cursor.fetchall()
print("Records for 2015 with Failure landing outcomes on drone ship:")
for record in records:
    print(f"Month: {record[0]}, Landing Outcome: {record[1]}, Booster Version: {record[2]}, Launch Site: {record[3]}")

# Close the connection
conn.close()

Records for 2015 with Failure landing outcomes on drone ship:
Month: January, Landing Outcome: Failure (drone ship), Booster Version: F9 v1.1 B1012, Launch Site: CCAFS LC-40
Month: April, Landing Outcome: Failure (drone ship), Booster Version: F9 v1.1 B1015, Launch Site: CCAFS LC-40

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [94]:
import sqlite3

# Connect to your SQLite database (replace with your actual database file)
conn = sqlite3.connect('my_data1.db')  # Replace with your actual database file
cursor = conn.cursor()

# Execute the query to get the count of landing outcomes between the date range
cursor.execute('''
    SELECT "Landing_Outcome", COUNT(*) AS "Count"
    FROM SPACEXTBL
    WHERE "Date" BETWEEN '2010-06-04' AND '2017-03-20'
    GROUP BY "Landing_Outcome"
    ORDER BY "Count" DESC
''')

# Fetch and display the results
landing_outcomes = cursor.fetchall()
print("Ranked Landing Outcomes between 2010-06-04 and 2017-03-20:")
for outcome in landing_outcomes:
    print(f"Landing Outcome: {outcome[0]}, Count: {outcome[1]}")

# Close the connection
conn.close()

Ranked Landing Outcomes between 2010-06-04 and 2017-03-20:
Landing Outcome: No attempt, Count: 10
Landing Outcome: Success (drone ship), Count: 5
Landing Outcome: Failure (drone ship), Count: 5
Landing Outcome: Success (ground pad), Count: 3
Landing Outcome: Controlled (ocean), Count: 3
Landing Outcome: Uncontrolled (ocean), Count: 2
Landing Outcome: Failure (parachute), Count: 2
Landing Outcome: Precluded (drone ship), Count: 1

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>